Checks: >
  -*,
  bugprone-*,
  -bugprone-suspicious-include,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-*,
  -misc-no-recursion,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-avoid-c-arrays,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-function-cognitive-complexity
