Checks: >
  -*,
  bugprone-*,
  -bugprone-suspicious-include,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-avoid-c-arrays,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers
