.cache
build

a.out
*.o

.ninja_deps
.ninja_log
CMakeCache.txt
CMakeCCompiler.cmake
CMakeCXXCompiler.cmake
CMakeDetermineCompilerABI_C.bin
CMakeDetermineCompilerABI_CXX.bin
CMakeSystem.cmake
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp
CMakeOutput.log
TargetDirectories.txt
cmake.check_cache
rules.ninja
build.ninja
cmake_install.cmake
cmake_uninstall.cmake
compile_commands.json
libddnet_protocol.a
