.cache
build

a.out
*.o
*.o.d

# ninja build

.ninja_deps
.ninja_log
CMakeCache.txt
CMakeCCompiler.cmake
CMakeCXXCompiler.cmake
CMakeDetermineCompilerABI_C.bin
CMakeDetermineCompilerABI_CXX.bin
CMakeFiles
CMakeSystem.cmake
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp
CMakeOutput.log
TargetDirectories.txt
cmake.check_cache
rules.ninja
build.ninja
cmake_install.cmake
cmake_uninstall.cmake
compile_commands.json

# make build

CMakeDirectoryInformation.cmake
CMakeRuleHashes.txt
Makefile.cmake
Makefile
Makefile2
DependInfo.cmake
build.make
cmake_clean.cmake
cmake_clean_target.cmake
depend.make
flags.make
link.txt
cmake_clean.cmake
compiler_depend.make
compiler_depend.ts
progress.marks
progress.make
compiler_depend.internal

# binaries

libddnet_protocol.a
*/examples/huffman
*/examples/huffman.exe
