InheritParentConfig: true

CheckOptions:
  - key:             readability-identifier-naming.FunctionPrefix
    value:           ddproto_
  - key:             readability-identifier-naming.GlobalConstantPrefix
    value:           DDPROTO_
  - key:             readability-identifier-naming.EnumPrefix
    value:           DDProto
  - key:             readability-identifier-naming.TypedefPrefix
    value:           DDProto
  - key:             readability-identifier-naming.TypedefIgnoredRegexp
    value:           OnDDProtoChunk
  - key:             readability-identifier-naming.StructPrefix
    value:           DDProto
  - key:             readability-identifier-naming.UnionPrefix
    value:           DDProto
  - key:             readability-identifier-naming.EnumConstantPrefix
    value:           DDPROTO_
  - key:             readability-identifier-naming.MacroDefinitionPrefix
    value:           DDPROTO_
  - key:             readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value:           '^(USER_SPACE|KERNEL_SPACE)$'
